#grid{
	display:grid;
	grid-gap:10px;
	grid-template-rows: repeat(5,1fr);
	grid-template-columns: repeat(4,1fr);	
}
#i1,#i2,#i3,#i4,#i5,#i6,#i7,#i8,#i9,#i10{
	background-color:green;
	color:white;
	font-size:30px;
}
#i1{
	grid-column: span 4 / auto;
}
#i2{
	grid-row: span 4 /auto;
}
#i3{
	grid-column: span 1 / auto;
}
#i4{
	grid-column: span 2/ auto;
}
#i5{
	grid-column: span 2 / auto;
}
#i6{
	grid-row: span 1 /auto;
}
#i7{
	grid-column: span 1 / auto;
}
#i8{
	grid-column: span 1/ auto;
}
#i9{
	grid-column: span 1 / auto;
}
#i10{
	grid-column: span 3 / auto;
}


